body {
    font-family: Arial, sans-serif;
    margin: 10%;
    padding: 20px;
    background-color: #f9f9f9;
}
.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-container h1 {
    margin-bottom: 20px;
    text-align: center;
}
.form-container input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-container button {
    width: 50%;
    position:center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.form-container button:hover { background-color: #0056b3; }
